<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>禁止访问</title>
    <style>
        .c1{
            color:red;
        }
    </style>
</head>
<body>
    <h1 class="c1">银河系</h1>
    <div>
        <span style="color: green">时间:</span>
        <span>9/29</span>
    </div>
    <div>
        未婚夫啊hi活该活该i哈而回归哈规划韩国ii是规划和嘎哈i干哈规划和韩国i还会给i哦好
        <a href="/get/news" target="_blank">跳转到自己的网站</a>
    </div>
    <h2>太阳系</h2>
    <div>
        <span style="color: green">时间:</span>
        <span>9/29</span>
        <img src="/static/2.jpg" style="height:100px; width:50px" />
    </div>
    <div>
        地阿富汗啊干哈干哈0爱韩庚0哈维观海卫好噶我换个号u黑工行i根哈根还会该海湾i给还会该海湾
        <a href="https://www.tmall.com/?page_offline=true">跳转到别人的网站</a>
    </div>
    <h1>运营商列表</h1>
    <ul>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ul>
    <h1>运营商列表</h1>
    <ol>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ol>

    <h1>数据表格</h1>
    <table border="1">
        <thead>
            <tr>    <th>ID</th>   <th>姓名</th>   <th>年龄</th>  </tr>
        </thead>
        <tbody>
            <tr>    <td>10</td>   <td>谢俊峰</td>  <td>20</td>  </tr>
            <tr>    <td>11</td>   <td>吴彦祖</td>  <td>20</td>  </tr>
            <tr>    <td>12</td>   <td>彭于晏</td>  <td>20</td>  </tr>
            <tr>    <td>12</td>   <td>霍建华</td>  <td>20</td>  </tr>
        </tbody>
    </table>

    <h1>输入内容</h1>
    <input type="text">
    <input type="password">
    <input type="file">

    <input type="radio" name="n1">男
    <input type="radio" name="n1">女

    <input type="checkbox">篮球
    <input type="checkbox">足球
    <input type="checkbox">羽毛球
    <input type="checkbox">乒乓球

    <input type="button" value="提交">
    <input type="submit" value="提交">

    <h1>下拉框</h1>
    <select>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
    </select>

    <select multiple>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
    </select>

    <h1>多行文本</h1>
    <textarea   rows="3"></textarea>
</body>
</html>